# Data Collection

In [1]:
import pandas as pd

In [2]:
from bs4 import BeautifulSoup
import requests

In [ ]:
"""url ="https://www.smev.in/fy-23-24"
r=requests.get(url)
print(r)"""

Data manually collected from 1>https://www.smev.in/fy-22-23
                             2>https://www.smev.in/fy-23-24
formed a table and converted into csv

In [8]:
df_22_23 = pd.read_csv('/content/drive/MyDrive/ev/ev_data_22_23.csv')
df_23_24 = pd.read_csv('/content/drive/MyDrive/ev/ev_data_23_24.csv')

In [9]:
#first 5 rows of each DataFrame
print("FY 22-23 Data:")
print(df_22_23.head().to_markdown(index=False, numalign="left", stralign="left"))

print("\nFY 23-24 Data:")
print(df_23_24.head().to_markdown(index=False, numalign="left", stralign="left"))

FY 22-23 Data:
| Serial_no   | Maker         | April   | May   | June   | July   | August   | September   | October   | November   | December   | January   | February   | March   | Total    | Market_share   |
|:------------|:--------------|:--------|:------|:-------|:-------|:---------|:------------|:----------|:-----------|:-----------|:----------|:-----------|:--------|:---------|:---------------|
| 1           | OLA ELECTRIC  | 12,709  | 9,268 | 5,898  | 3,865  | 3,476    | 9,898       | 16,357    | 16,385     | 17,371     | 18,353    | 17,772     | 21,427  | 1,52,779 | 21%            |
| 2           | OKINAWA       | 11,343  | 9,650 | 7,221  | 8,396  | 8,758    | 8,499       | 14,953    | 9,070      | 5,282      | 4,408     | 3,849      | 4,510   | 95,939   | 13%            |
| 3           | HERO ELECTRIC | 6,804   | 2,971 | 6,837  | 9,306  | 10,820   | 8,210       | 8,870     | 9,028      | 8,102      | 6,400     | 5,864      | 6,662   | 89,874   | 12%            |
| 4           | AMPERE        | 6,865   | 6,177 | 6,920  | 6,813  | 6,772    | 6,489       | 10,115    | 12,449     | 4,593      | 4,457     | 6,004      | 9,738   | 87,392   | 12%            |
| 5           | TVS           | 1,498   | 478   | 1,983  | 4,349  | 6,427    | 4,002       | 5,821     | 8,149      | 9,365      | 10,464    | 12,674     | 16,899  | 82,109   | 11%            |

FY 23-24 Data:
| Serial_no   | Maker        | April   | May   | June   | July   | August   | September   | October   | November   | December   | January   | February   | March   | Total   | Market_share   | Unnamed: 16   | Unnamed: 17   | Unnamed: 18   | Unnamed: 19   | Unnamed: 20   |
|:------------|:-------------|:--------|:------|:-------|:-------|:---------|:------------|:----------|:-----------|:-----------|:----------|:-----------|:--------|:--------|:---------------|:--------------|:--------------|:--------------|:--------------|:--------------|
| 1           | OLA ELECTRIC | 22068   | 28743 | 17689  | 19405  | 18745    | 18707       | 23867     | 30004      | 30398      | 32349     | 33923      | 50545   | 326443  | 35%            | nan           | nan           | nan           | nan           | nan           |
| 2           | TVS          | 8760    | 20435 | 7867   | 10398  | 15484    | 15614       | 16509     | 19146      | 12320      | 15339     | 14608      | 26479   | 182959  | 19%            | nan           | nan           | nan           | nan           | nan           |
| 3           | ATHER        | 7802    | 15430 | 4603   | 6685   | 7152     | 7194        | 8478      | 9333       | 6550       | 9357      | 9067       | 17221   | 108872  | 12%            | nan           | nan           | nan           | nan           | nan           |
| 4           | BAJAJ        | 4093    | 10098 | 3011   | 4131   | 6588     | 7105        | 9070      | 11913      | 10418      | 10885     | 11745      | 17933   | 106990  | 11%            | nan           | nan           | nan           | nan           | nan           |
| 5           | AMPERE       | 8875    | 10790 | 3043   | 3573   | 3699     | 4199        | 4542      | 4695       | 3350       | 2536      | 2609       | 3146    | 55057   | 6%             | nan           | nan           | nan           | nan           | nan           |

In [10]:
#columns in each DataFrame
print("\nFY 22-23 Data Information:")
print(df_22_23.info())

print("\nFY 23-24 Data Information:")
print(df_23_24.info())

FY 22-23 Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Serial_no     13 non-null     float64
 1   Maker         14 non-null     object
 2   April         14 non-null     object
 3   May           14 non-null     object
 4   June          14 non-null     object
 5   July          14 non-null     object
 6   August        14 non-null     object
 7   September     14 non-null     object
 8   October       14 non-null     object
 9   November      14 non-null     object
 10  December      14 non-null     object
 11  January       14 non-null     object
 12  February      14 non-null     object
 13  March         14 non-null     object
 14  Total         14 non-null     object
 15  Market_share  13 non-null     object
dtypes: float64(1), object(15)
memory usage: 1.9+ KB
None

FY 23-24 Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Serial_no     13 non-null     float64
 1   Maker         14 non-null     object
 2   April         14 non-null     int64
 3   May           14 non-null     int64
 4   June          14 non-null     int64
 5   July          14 non-null     int64
 6   August        14 non-null     int64
 7   September     14 non-null     int64
 8   October       14 non-null     int64
 9   November      14 non-null     int64
 10  December      14 non-null     int64
 11  January       14 non-null     int64
 12  February      14 non-null     int64
 13  March         14 non-null     int64
 14  Total         14 non-null     int64
 15  Market_share  13 non-null     object
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
 18  Unnamed: 18   0 non-null      float64
 19  Unnamed: 19   0 non-null      float64
 20  Unnamed: 20   0 non-null      float64
dtypes: float64(6), int64(13), object(2)
memory usage: 2.4+ KB
None

# Data preprocessing